<!-- =======================================================signin page============================================= -->

<h2 id="main-heading">SighzLab</h2>

<form action="/users/createSession" method="POST">
    <label for="email">
        Email:
        <input
            id="email"
            name="email"
            type="email"
            placeholder="Enter your email"
            required
        />
    </label>

    <label for="password">
        Password:
        <input
            id="password"
            name="password"
            type="password"
            placeholder="Enter your password"
            required
        />
    </label>

    <input type="submit" value="Submit" />
</form>
