<!-- ======================================================signup page============================================ -->


<h2 id="main-heading">SighzLab</h2>
<form action="/users/create" method="POST">
    <label for="name">
        Name:
        <input
            id="name"
            name="name"
            type="text"
            placeholder="Enter your name"
            required
        />
    </label>
    <label for="email">
        Email:
        <input
            id="email"
            name="email"
            type="email"
            placeholder="Enter your email"
            required
        />
    </label>

    <label for="password">
        Password:
        <input
            id="password"
            name="password"
            type="password"
            placeholder="Enter your password"
            required
        />
    </label>
    <label for="confirm_password">
        Password:
        <input
            id="confirm_password"
            name="confirm_password"
            type="password"
            placeholder="Re-enter your password"
            required
        />
    </label>

    <input type="submit" value="Submit" />
</form>
